<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa Priscila - Trabajos que Inciden en Días de Secado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_index.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/logo.png') }}">

</head>
<body>
     <!-- Imagen de background -->
    <div class="background-overlay"></div>
    
    <div class="decoracion"></div>
    <div class="decoracion"></div>
    
    <div class="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='imagenes/logo.png') }}" alt="Logo Santa Priscila" class="logo">
        </div>
        
        <h1 class="titulo-principal">TRABAJOS QUE INCIDEN EN DÍAS DE SECADO</h1>
        
        <h2 class="subtitulo">SEMANA #{{ semana - 1 }}</h2>
        
        <p class="departamento">PRODUCCIÓN</p>
    </div>

    <a href="{{ url_for('mostrar_agenda') }}" class="btn-continuar">
        CONTINUAR →
    </a>
</body>
</html>